/* Header container */
header {
    background-color: #D2F2BB; /* Background color */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation links */
nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left; /* Display links horizontally */
    margin-right: 20px; /* Spacing between links */
    padding: 10px;
    transition: border-bottom-color 0.3s; /* Smooth transition for bottom border color */
    border-bottom: 2px solid transparent; /* Initial border color */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from last link */
}

/* Link styles */
nav ul li a {
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    display: block; 
}

nav ul li:hover {
    border-bottom-color: #519A1D;
    /* background-color: #519A1D; */
}

.logo {
    display: flex;
    justify-content: left;
  }

.logo img {
    width: 250px;
    height: auto;
}